<%= form_for @profile do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :handle %><br />
    <%= f.text_field :handle %>
  </div>

  <div class="field">
    <%= f.label :icq %><br />
    <%= f.text_field :icq %>
  </div>

  <div class="actions"><%= f.submit "Sign Up" %></div>
<% end %>
